.salutation
  Dear #{@name},

.subhead Hello, my name is James. I can be your Rubyist.

:markdown
  I've been writing software for money since getting a comuter science degree in 2002, and working with Ruby since 2007. I currently make websites, with Rails (or Sinatra, like this one).

:markdown
  Most recently I worked as an engineer for a startup called [Roomz](https://www.roomz.com) here in Sydney, Australia. We wanted to help people live better together, find great housemates and make money from their empty rooms. We raised A$2M, built a Rails 4 application, hosted on Heroku and used Elasticsearch and Geocoder to add great location search to our marketplace. The company was recently acquired by a big media company. 

:markdown
  Before Roomz I worked remotely as a software engineer for a small [Portland-based](http://analoganalytics.com) company who were acquired by a big UK bank. We built a Groupon-like daily deals site called [Bespoke Offers](https://www.bespokeoffers.co.uk), which was a Rails 3 application backed by Solr for location-based deal searching. In addition to the Rails work, I also inherited a Java application that handled high-volume batch processing of data from the bank, just like the old days.

:markdown
  In the recent past I’ve worked for a [cellular network](http://www.o2.co.uk), [an awesome email marketing service](http://campaignmonitor.com) and [several](http://www.nasdaqomx.com/technology/marketplacesolutions/surveillancecompliance/) [financial](http://londonstockexchange.com) [institutions](http://www.six-swiss-exchange.com/index.html). 

:markdown
  I've [spoken](https://skillsmatter.com/skillscasts/3141-user-centred-scenarios-describing-capabilities-not-solutions#about) at [conferences](http://www.sqe.com/ConferenceArchive/bettersoftwareeast2011/ConcurrentThursday.html#BT9) and consulted and trained some of the [best](http://thoughtworks.com) and [brightest](http://equalexperts.com) in the industry.

:markdown
  I built an [ill-fated](http://on.papyr.me/post/32407029242/the-end) [product](http://www.papyr.me/about) that solved a problem but never made it out of beta-testing.

:markdown
  Last year we rennovated our apartment here in Sydney and got the chance to indulge our love of mid-century modern furniture and design.

%p Let’s have a conversation, get to know each other and figure out a way to work together.

%p Thanks for your time and attention.


.signoff
  .sincerely Sincerely,

  .name James Martin

  .contact
    .phone +61 487 110 303
    .email
      %a{href: 'mailto:hire@jamesmartin.co', title: 'Email James'}hire@jamesmartin.co

.ps
  :markdown
    <span class='postscript'>P.S.</span> Please check out my [Github](http://github.com/jamesmartin),  [Coderwall](https://coderwall.com/jamesmartin) profile and [gists](https://gist.github.com/jamesmartin) for examples of my coding style.
