.salutation
  Dear friend,

.subhead Hello, my name is James.

:markdown
  I'm writing this to let you know that I care about you. There's a good chance that we've never met, such is the grand scale of the Internet. But in this wonderful age, I can speak to you from the past, without knowing your name and that seems kind of wonderful to me.

:markdown
  Think of the good fortune we have of living in an age where electrons can zoom across the Earth in the blink of an eye, transmitting good will from one person to another, between total strangers, from me in the past to you in the future.

:markdown
  If you meet a stranger today, or pass somebody on the street that you don't know, could you please smile at them for me. It makes me feel good to know that this small note could have a physical impact on the world one day, despite its insignificance.

%p Thanks for your time and attention.

.signoff
  .sincerely Sincerely,

  .name James Martin
